@import url("./reset.css");

* {
    margin: 0;
    padding: 0;
}

html,
body {
    position: relative;
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
}

/* common */

.container {
    width: 100%;
    margin: 0 auto;
}

.title-group {
    display: flex;
    justify-content: space-between;
    align-items: end;
    margin-bottom: 1em;
    padding: 0 0.625em;
}

.title {
    display: flex;
    align-items: center;
    font-size: 1.6em;
    font-weight: 700;
    letter-spacing: -0.1em;
    gap: 0.3em;
    color: #333333;
}

.indicator {
    display: flex;
    gap: 0.5em;
}

/* header */
nav {
    width: 100%;
    max-width: 68.75em;
    background-color: #fff;
    height: 9.375em;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;

}

.gnb {
    display: flex;
    align-items: center;
    gap: 5em;
}

.menu {
    display: flex;
    gap: 4.375em;
}

nav ul a {
    text-decoration: none;
    color: #4A4A4A;
    font-size: 1.375em;
}

.link-menu ul {
    display: flex;
    gap: 0.625em;
}

.hamburger-btn,
.close-btn {
    display: none;
}

/* kv-sec */
.kv-sec {
    width: 100%;
    height: 29.5em;
    background-image: url("../images/bg_mainbanner.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-bottom: 2.5em;
}

.visual-wrap {
    height: 100%;
    max-width: 68.75em;
    min-width: 31.25em;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 2.5em;
}

.visual-left {
    margin-left: 6em;
}

.visual-right.text {
    color: #fff;
    text-align: center;
    font-size: 1.5em;
    margin-top: -0.8em;
}

.visual-right .h2 {
    color: #fff;
    text-align: center;
    font-weight: 600;
    font-size: 2.125em;
    margin-top: 0.12em;
}

.visual-right span {
    color: #F5E045;
}

/* price-plan-sec */
.price-plan-sec {
    max-width: 68.75em;
    margin: 0 auto;
    margin-bottom: 6.25em;
}

.banner-column {
    max-width: 68.75em;
    display: flex;
    flex-wrap: wrap;
    gap: 2%;
}

.price-wrap {
    display: flex;
    width: 100%;
    gap: 2%;
}


.left-banner {
    width: 64.5%;
    height: 19.125em;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E9E9E9;
    border-radius: 1.875em;
    column-gap: 1.250em;
}

.left-text {
    text-align: center;
}

.left-text.box {
    font-size: 1.25em;
    color: #404040;
    border: 0.1em solid #888888;
    padding: 0.375em;
    letter-spacing: -0.063em;
    background-color: #fff;
    margin-bottom: 0.875em;
}

.left-text.text-1 {
    font-size: 1.688em;
    margin-bottom: 0.125em;
    letter-spacing: -0.063em;
    color: #333333;
}

.left-text span {
    font-weight: 600;
}

.left-text h2 {
    font-size: 2.875em;
    font-weight: 800;
    letter-spacing: -0.08em;
    color: #333333;
}

.right-banner {
    width: 33.5%;
    height: 19.125em;
    background-color: #FFD422;
    border-radius: 1.875em;
    position: relative;
    margin-bottom: 3.75em;
}

.right-text-group {
    width: 100%;
    padding: 2.5em 2.25em;
}

.right-text.box {
    width: 7em;
    font-size: 0.938em;
    font-weight: 700;
    color: #404040;
    border-radius: 1.875em;
    text-align: center;
    padding: 0.375em 0.125em;
    letter-spacing: -0.1em;
    background-color: #fff;
    margin-bottom: 0.6em;
}

.right-text.text-1 {
    font-size: 1.625em;
    letter-spacing: 0.17em;
    margin-bottom: 0.2em;
    color: #fff;
}

.right-text h2 {
    font-size: 2.5em;
    font-weight: 700;
    letter-spacing: -0.04em;
    margin-bottom: 0.4em;
    color: #333333;
}

.right-text.desc {
    width: 36%;
    font-size: 1.25em;
    font-weight: 400;
    letter-spacing: -0.06em;
    line-height: 1.3em;
    color: #fff;
}

.right-text.desc span {
    font-weight: 700;
}

.qr-code {
    position: absolute;
    bottom: 50%;
    right: 50%;
    transform: translate(95%, 98%);
}


.swiper {
    background: #000;
    font-size: 14px;
    color: #fff;
    margin: 0 auto;
    padding: 0;
    width: 40%;
    height: 100%;
}

.swiper-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    background-color: #DB053B;
}

.swiper-slide {
    display: block;
    width: 100%;
    height: 300px;
    /* display: flex; */
    font-size: 18px;
}

/* .swiper-slide {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
} */

.price-container {
    width: 100%;
    display: flex;
    gap: 2%;
}

.price-box {
    width: 49%;
    border: 0.063em solid #C7C7C7;
    border-radius: 1.875em;
    padding: 2.875em 2.5em 1.875em;
    letter-spacing: -0.063em;
}

.price-title {
    display: flex;
    font-size: 1.625em;
    font-weight: 700;
    color: #333333;
    gap: 0.25em;
    margin-bottom: 1.25em;
}

.text-row-1 {
    font-size: 1.625em;
    color: #333333;
    margin-bottom: 0.5em;
}

.text-row-1 span {
    color: #FF2A2A;
    font-weight: 600;
}

.text-row-2 {
    font-size: 1em;
    color: #8E8E8E;
    margin-bottom: 0.75em;
}

.text-row-3 {
    display: flex;
    gap: 1.25em;
}

.text-row-3 .text-1,
.text-2 {
    width: 100%;
    display: flex;
    gap: 0.375em;
    color: #8E8E8E;
    margin-bottom: 0.875em;
}

.text-row-3 span {
    color: #333333;
}

.text-row-4 {
    gap: 1.25em;
    margin-top: 0.625em;
    margin-left: -0.25em;
}

.text-row-4 .text {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 0.375em;
    color: #8E8E8E;
    margin-bottom: 0.25em;
}

.text-row-4 .text span {
    color: #333;
    font-weight: 500;
    margin-left: 1.25em;
}

.text-row-4 .text img {
    transform: scale(90%);
}

.text-row-5 {
    width: 100%;
    display: flex;
    align-items: center;
}

.text-row-5 .text-1 {
    width: 100%;
    display: flex;
    align-items: center;
    color: #8e8e8e;
    gap: 0.25em;
}

.text-row-5 .text-1 span {
    color: #4A4A4A;
    font-weight: 500;
    margin-left: 0.625em;
}

.text-row-5 .text-2 {
    display: flex;
    justify-content: end;
    color: #8e8e8e;
    font-size: 0.75em;
    align-items: end;
}

.text-row-5 .text-2 span {
    font-size: 1.625em;
    font-weight: 600;
    color: #333333;
}

/* partnership-sec */
.partnership-sec {
    width: 100%;
    height: 47.375em;
    background-image: url("../images/bg_promotion.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 3.75em;
}

.partnership-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 6em;
}

.partnership-title {
    display: flex;
    align-items: center;
    font-size: 2.875em;
    letter-spacing: -0.08em;
    color: #333333;
    margin-bottom: 0.4em;
}

.partnership-title span {
    font-weight: 700;
}

.partnership-title img {
    padding: 0 0.5em;
}

.partnership-sec .text-group {
    padding: 0 5em;
}

.box-row {
    width: 68.75em;
    height: 13.75em;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 1.875em;
    margin-bottom: 0.875em;
}

.box-row img {
    margin-right: 3.125em;
}


.box-row p {
    font-size: 1.375em;
    letter-spacing: -0.1em;
    color: #8E8E8E;
    margin-bottom: 0.4em;
}

.box-row h3 {
    font-size: 2.8em;
    font-weight: 700;
    letter-spacing: -0.08em;
    color: #DB053B;
}

/* review-sec */
.review-sec {
    width: 68.75em;
    margin: 0 auto;
}

.review-column-3 {
    height: 29.375em;
    width: 100%;
    display: flex;
    gap: 2%;
    margin-bottom: 2.5em;
}

.review-box {
    border: 0.063em solid #C7C7C7;
    border-radius: 1.25em;
    width: 32%;
}

.review-item {
    padding: 1.875em;
}

.review-title {
    display: flex;
    font-size: 1.3em;
    letter-spacing: -0.125em;
    font-weight: 450;
    color: #8e8e8e;
    margin-bottom: 0.688em;
}

.review-img {
    width: 100%;
    height: 15.625em;
    border-radius: 0.375em;
    margin-bottom: 0.688em;
    overflow: hidden;
}

.review-img img {
    width: 100%;
}

.star-point {
    margin-bottom: 0.688em;
}

.review-desc {
    display: flex;
    justify-content: space-between;
    font-size: 1em;
    font-weight: 300;
    letter-spacing: -0.07em;
    color: #8E8E8E;
    margin-bottom: 0.688em;
}

.review-user {
    font-weight: 500;
}

.review-coment {
    font-size: 1.12em;
    font-weight: 450;
    letter-spacing: -0.1em;
    line-height: 1.25em;
    color: #4A4A4A;
}

.banner {
    margin: 0 auto;
    width: 68.75em;
    height: 12.688em;
    background-color: #E9E9E9;
    border-radius: 1.25em;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 3.75em;
}

.underline {
    display: flex;
    width: 100%;
    height: 0.25em;
    margin-top: 0.375em;
}

.line-1 {
    width: 49%;
    background-color: #FF8000;
}

.line-2 {
    width: 51%;
    background-color: #fff;
}

.banner-text {
    text-align: center;
    letter-spacing: -0.125em;
    padding: 0 2.5em;
}

.banner-text h3 {
    color: #3B3B3B;
    font-size: 3.75em;
    letter-spacing: -0.05em;
}

.banner-text h3 span {
    font-weight: 700;
}

.banner-text .banner-title {
    color: #FF8000;
}

.banner-text p {
    font-size: 1.75em;
    font-weight: 300;
    color: #3B3B3B;
    margin-bottom: 0.2em;
}

.banner-text p span {
    font-weight: 700;
}

/* counseling-sec */
.counseling-sec {
    width: 100%;
    height: 20.438em;
    background-color: #1A1A1A;
}

.counseling-wrap {
    width: 68.75em;
    height: 100%;
    margin: 0 auto;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.counseling-wrap p {
    font-size: 1.875em;
    font-weight: 400;
    letter-spacing: -0.063em;
    margin-bottom: 0.4em;
}

.counseling-wrap span {
    color: #FFD422;
}

.counseling-phone {
    display: flex;
    align-items: center;
    font-size: 3.25em;
    font-weight: 500;
    gap: 0.3em;
}

.btn-group {
    color: #333333;
    font-size: 1.5em;
}

.btn-group a {
    text-decoration: none;
    font-weight: 700;
    color: #333333;
}

.btn-group .btn-1 {
    background-color: #fff;
    padding: 0.7em 3em;
    border-radius: 3.125em;
    margin-right: 0.625em;
}

.btn-group .btn-2 {
    background-color: #FFD422;
    padding: 0.7em 3em;
    border-radius: 3.125em;
}

/* footer */

.footer {
    width: 100%;
    height: 30.938em;
}

.footer-container {
    max-width: 68.75em;
    margin: 0 auto;
    padding: 6.25em;
    color: #8E8E8E;
}

.footer-container ul {
    display: flex;
    align-items: center;
    gap: 1.25em;
    font-size: 0.75em;
    color: #D4D4D4;
    margin-bottom: 1.875em;
}

.foot-text {
    font-size: 1.125em;
    font-weight: 300;
    width: 88%;
    line-height: 1.875em;
    margin-bottom: 1.875em;
}

.company-desc {
    font-size: 1.125em;
    font-weight: 300;
    line-height: 1.875em;
    margin-bottom: 1.875em;
}

.foot-menu a {
    text-decoration: none;
    font-weight: 500;
    color: #8E8E8E;
    letter-spacing: -0.125em;
    font-size: 1.25em;
}

.copyright {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.link-sns {
    display: flex;
    gap: 1.875em;
}

@media(max-width: 1024px) {

    * {
        box-sizing: border-box;
    }


    /* header */
    .nav {
        height: 3.125em;
    }

    .hamburger-btn {
        display: block;
    }

    .close-btn {
        display: block;
        position: absolute;
        top: 4%;
        left: 7%;
        transform: translate(-50%, -50%)
    }

    .gnb {
        flex-direction: column;
        width: 100%;
        position: fixed;
        top: 0;
        right: -100%;
        width: 90%;
        height: 100vh;
        background-color: #fff;
        border: 0.063em solid black;
        transition: right 0.3s ease;
        padding: 3.125em 1.25em;
        z-index: 100;
    }

    .gnb.on {
        right: 0;
    }

    .menu {
        flex-direction: column;
        position: absolute;
        top: 20%;
        left: 24%;
        transform: translate(-50%, -50%);
    }

    .menu a {
        font-size: 2.25em;
    }

    .link-menu {
        position: absolute;
        top: 35%;
        left: 14%;
        transform: translate(-50%, 50%);
    }


    /* kv-sec */
    .kv-sec {
        height: 100%;
        padding: 6.25em;
    }

    .visual-wrap {
        flex-wrap: wrap;
    }

    .visual-left {
        width: 100%;
        margin-bottom: 3.125em;
    }

    /* price-plan-sec */
    .price-plan-sec {
        width: 94%;
    }


    .banner-column {
        flex-wrap: wrap;
        row-gap: 1.875em;
    }

    .left-banner {
        width: 100%;
        padding: 1.875em 3.75em;
    }

    .left-text.box {
        font-size: 1.5em;
    }

    .left-text.text-1 {
        font-size: 1.875em;
        letter-spacing: -0.063em;
        margin-bottom: 0.375em;
    }

    .left-text h2 {
        font-size: 3.25em;
        letter-spacing: -0.188em;
    }

    .truck {
        margin-left: 1.25em;
    }

    .right-banner {
        width: 100%;
        padding: 0.625em 6.875em;
        position: relative;
    }

    .right-text.box {
        font-size: 1.25em;
        width: 10em;
    }

    .right-text.text-1 {
        font-size: 1.875em;
        letter-spacing: 0.313em;
    }

    .right-text h2 {
        font-size: 3em;
    }

    .right-text.desc {
        width: 57%;
        font-size: 1.625em;
        line-height: 2em;
    }

    .qr-code {
        width: 30%;
        position: absolute;
        top: 50%;
        right: -3%;
        transform: translate(-50%, -50%);
    }

    /* price-container */
    .price-wrap {
        flex-wrap: wrap;
        row-gap: 1.875em;
    }

    .price-box {
        width: 100%;
    }

    .price-title h3 {
        font-size: 2.25em;
    }

    .price-title img {
        width: 3.125em;
        margin-right: 0.375em;
    }

    .text-row-1 {
        font-size: 1.875em;
        margin-bottom: 0.875em;
    }

    .text-row-1 img {
        transform: scale(110%);
    }

    .text-row-2,
    .text-row-3,
    .text-row-4,
    .text-row-5 {
        font-size: 1.25em;
        margin-bottom: 0.625em;
    }

    .coopon {
        scale: 120%;
    }

    .text-row-3 img,
    .text-row-5 img {
        scale: 110%;
    }

    .text-row-5 .text-2 {
        font-size: 1em;
    }

    .text-row-5 .text-2 span {
        font-size: 2.25em;
    }
}