@import url("./reset.css");

* {
    margin: 0;
    padding: 0;
}

/* common */

.container {
    width: 100%;
    margin: 0 auto;

}

/* header */
nav {
    width: 100%;
    max-width: 1100px;
    background-color: #fff;
    height: 150px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;

}

.gnb {
    display: flex;
    align-items: center;
    gap: 80px;
}

.menu {
    display: flex;
    gap: 70px;
}

nav ul a {
    text-decoration: none;
    color: #4A4A4A;
    font-size: 22px;
}

.link-menu ul {
    display: flex;
    gap: 10px;
}

.hamburger-btn,
.close-btn {
    display: none;
}

/* kv-sec */
.kv-sec {
    width: 100%;
    height: 472px;
    background-image: url("../images/bg_mainbanner.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-bottom: 40px;
}

.visual-wrap {
    height: 100%;
    width: 100%;
    min-width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 100px;
}

.visual-right.text {
    color: #fff;
    text-align: center;
    font-size: 24px;
}

/* price-plan-sec */
.price-plan-sec {
    max-width: 1100px;
    width: 100%;
    margin: 0 auto;
}

.banner-column {
    display: flex;
    gap: 2%;
}

.left-banner {
    width: 66%;
    height: 306px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E9E9E9;
    border-radius: 30px;
    column-gap: 20px;
}

.left-text {
    text-align: center;
}

.left-text.box {
    font-size: 20px;
    color: #404040;
    border: 1px solid black;
    padding: 6px 20px;
    background-color: #fff;
    margin-bottom: 14px;
}

.left-text.text-1 {
    font-size: 27px;
    margin-bottom: 2px;
}

.left-text span {
    font-weight: 600;
}

.left-text h2 {
    font-size: 46px;
    font-weight: 600;
}

.right-banner {
    width: 32%;
    height: 306px;
    background-color: #FFD422;
    border-radius: 30px;
    position: relative;
}

.right-text-group {
    width: 100%;
    padding: 40px;
}

.right-text.box {
    width: 120px;
    font-size: 15px;
    font-weight: 700;
    color: #404040;
    border-radius: 30px;
    text-align: center;
    padding: 6px;
    background-color: #fff;
    margin-bottom: 14px;
}

.right-text.text-1 {
    font-size: 26px;
    letter-spacing: 3px;
    margin-bottom: 2px;
    color: #fff;
}

.right-text h2 {
    font-size: 40px;
    font-weight: 600;
    letter-spacing: -3px;
}

.right-text.desc {
    width: 36%;
    font-size: 20px;
    letter-spacing: -2px;
    line-height: 24px;
}

.right-text.desc span {
    font-weight: 700;
}

.qr-code {
    position: absolute;
    bottom: -18px;
    right: -28px;
}

@media(max-width: 1024px) {
    * {
        box-sizing: border-box;
    }

    .container {
        width: 100%;
    }

    /* header */
    .nav {
        height: 50px;
    }

    .hamburger-btn {
        display: block;
    }

    .close-btn {
        display: block;
        position: absolute;
        top: 40px;
        left: 40px;
    }

    .gnb {
        flex-direction: column;
        width: 100%;
        position: fixed;
        top: 0;
        right: -100%;
        width: 90%;
        height: 100vh;
        background-color: #fff;
        border: 1px solid black;
        /* display: none; */
        transition: right 0.3s ease;
        padding: 50px 20px;
        z-index: 100;
    }

    .gnb.on {
        /* display: block; */
        right: 0;
    }

    .menu {
        flex-direction: column;
        position: absolute;
        top: 100px;
        left: 50px;
    }

    .link-menu {
        position: absolute;
        top: 500px;
        left: 50px;
    }

    /* kv-sec */
    .kv-sec {
        height: 100%;
        padding: 100px;
    }

    .visual-wrap {
        flex-wrap: wrap;
    }

    .visual-left {
        margin-bottom: 50px;
    }

    /* price-plan-sec */
    .price-plan-sec {
        width: 94%;
    }
}